@model IEnumerable<MvcExamenAWSAlvaroMoyaHerraiz.Models.Jugador>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<td>
    <a asp-action="Create" asp-route-idequipo="@ViewData["ID"]">Crear Jugador</a>
</td>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posicion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEquipo)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Posicion)
            </td>
            <td>
                <img style="height:100px;width:100px" src="https://bucket-examen-amh.s3.amazonaws.com/@item.Imagen">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEquipo)
            </td>
        </tr>
}
    </tbody>
</table>
